.productsContainer{
    position: relative;
    top: 12rem;
    left: 50%;
    width: 40rem;
    height: 15rem;
    background-color: white;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.productsContainer img{
    max-width: 100%;
    width: 200px;
    object-fit: contain;
    height: 200px;
}

.productNameContainer{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.productDiscountContainer{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: red;
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

.productPriceContainer{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.last{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 10rem;
}

@media screen and (max-width:785px) {
    .productsContainer{
        width: 25rem;
        height: 10rem;
    }
    .productsContainer img{
        max-width: 100%;
        width: 100px;
        object-fit: contain;
        height: 100px;
    }
    .productNameContainer{
        font-size: 12px;
    }
    .productPriceContainer{
        font-size: 10px;
    }
}

@media screen and (max-width:480px) {
    .productsContainer{
        width: 20rem;
        height: 10rem;
    }
    .productsContainer img{
        width: 80px;
        height: 80px;
    }
    .productNameContainer{
        font-size: 10px;
    }
    .productPriceContainer{
        font-size: 8px;
    }
}